.page-home {
  @apply bg-neutral-dark text-white text-center flex items-center justify-center;
  background: radial-gradient(#0c597b, #0c4760);
}

.page-home .rg-logo a {
  @apply flex place-content-center transform scale-105;
}

.page-home .rg-header,
.page-home .rg-footer {
  @apply border-0 py-1 my-2;
  background: none;
}

.page-home .rg-main {
  @apply flex flex-col mb-5;
}

.page-home .rg-signin,
.page-home .rg-signin fieldset {
  @apply flex flex-col;
}

.page-home .rg-main h3 {
  @apply w-64 self-center relative z-10 h-11 overflow-visible mt-2 mb-4;
  transform: rotate(0.5deg);
}

.page-home .rg-main h3 span {
  @apply absolute bg-primary text-neutral-dark inset-0 p-2 font-bold text-xl;
  transform: rotate(-0.5deg);
}

.page-home .rg-main h3::before {
  content: '';
  z-index: -1;
  @apply bg-secondary absolute transform rotate-1 scale-105 inset-0;
}

.page-home .rg-signin .form-label {
  @apply text-primary font-bold mb-2 text-lg;
  font-family: var(--font-accent);
  text-shadow: 0px 0px 0.5rem rgba(0, 0, 0, 0.3);
}

.page-home .rg-signin input {
  @apply text-center py-1;
}
