.page-landing {
}

.page-landing .rg-header {
  background: none;
  @apply bg-neutral z-10 relative p-0 py-3;
}

.page-landing .rg-nav {
  @apply pr-1 md:w-1/3;
}

.page-landing .btn-signOut {
  @apply m-0 md:mr-12 lg:-mt-3;
}

.page-landing .rg-logo {
  @apply px-3 sm:px-5 p-0 w-full max-w-md md:max-w-sm md:m-0 md:ml-2 md:w-2/3;
}

.page-landing .rg-logo img {
  @apply h-24 w-full max-w-md;
}

.page-landing .rg-header .container {
  @apply md:flex-row  md:justify-between max-w-screen-lg;
}
.page-landing .rg-header::before {
  @apply inset-0 absolute;
  z-index: -1;
  background: #0a445c;
  content: '';
}
@media (min-width: 1024px) {
  .page-landing .rg-header::before {
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0% 100%);
  }
}

.page-landing .rg-decorations {
  @apply hidden;
}

.page-landing .rg-main {
  @apply m-0 p-0 w-full max-w-none;
}

.page-landing .rg-hero {
  @apply bg-neutral w-full border-b-8 border-secondary;
}

.rg-hero p,
.rg-hero h2 {
  @apply text-center text-white sm:text-left md:max-w-md max-w-lg lg:max-w-xl;
}

.rg-hero p {
  @apply text-lg p-0 mb-4 leading-relaxed;
}

.rg-hero p strong {
  @apply text-white;
}

.rg-hero .btn-block {
  @apply w-40 justify-self-start;
}

.rg-illustration {
  @apply hidden md:block absolute md:right-3 md:top-10 lg:top-0 md:bottom-3.5 overflow-visible z-30 max-h-full md:z-auto;
  max-height: 95%;
}

.rg-illustration img {
  @apply max-h-full md:max-w-xs lg:w-auto lg:max-w-none;
}

.rg-hero .container {
  @apply pt-10 pb-16 md:pt-16 md:pb-20;
}

.rg-hero h2 {
  @apply text-white mb-4 text-3xl;
}

.rg-hero .container,
.rg-how .container {
  @apply px-4 sm:px-10 sm:max-w-screen-lg mx-auto relative h-full  text-white flex flex-col justify-center items-center md:justify-center md:items-start;
}

.page-landing .rg-main {
  @apply block;
}

.page-landing .rg-how {
  @apply border-t-4 border-primary;
}

.rg-how .container {
  @apply pb-10 w-full lg:max-w-screen-xl;
}

.rg-how h2 {
  @apply w-64 self-center lg:self-start relative z-10 h-12 overflow-visible -top-7 mb-0 lg:left-12;
  transform: rotate(0.5deg);
}
.rg-how h2 span {
  @apply absolute bg-primary text-neutral-dark inset-0 p-2.5 font-bold text-xl;
  transform: rotate(-0.5deg);
}

.rg-how h2::before {
  content: '';
  z-index: -1;
  @apply bg-secondary absolute transform rotate-1 scale-105 inset-0;
}
.rg-ul-cols {
  @apply pt-3 flex flex-col lg:flex-row gap-6 justify-center items-center md:justify-between mx-auto w-full lg:items-stretch lg:justify-start;
}
.rg-ul-cols li {
  @apply w-full flex flex-row flex-wrap md:justify-around lg:w-1/3 bg-neutral-light p-5 rounded shadow-sm relative lg:pt-10 sm:pt-5 pt-10 mb-3 lg:justify-start;
}

.rg-ul-cols h3 {
  @apply text-2xl w-full md:mb-2;
}

.rg-ul-cols li p {
  @apply sm:w-3/5 lg:w-full leading-relaxed self-center sm:pl-6 lg:p-0;
}

.page-landing .rg-how > img {
  @apply w-full max-w-xs border-4 border-white shadow-md rounded-sm mx-auto mt-3 mb-2 lg:mx-auto lg:mb-4 sm:w-2/5 lg:w-auto lg:max-w-full self-start;
}

.rg-img-scroll {
  @apply w-full max-w-xs border-4 border-white shadow-md rounded-sm mx-auto mt-3 mb-2 lg:mx-auto lg:mb-4 sm:w-2/5 lg:w-full lg:max-w-full self-start relative overflow-hidden h-36 md:h-44 lg:h-40;
}

.rg-img-scroll img {
  @apply absolute w-full object-cover;
  top: 0;
  transition: all 1.5s;
}

.rg-img-scroll:hover img {
  top: -50%;
}

.rg-how .num {
  @apply transform -translate-x-1/2 left-1/2 absolute -top-5 sm:left-0 w-12 border-4 border-white h-12 rounded-full bg-primary text-neutral text-xl font-bold text-center pt-1.5 lg:transform lg:-translate-x-1/2 lg:left-1/2;
}
