.alert {
  @apply p-3 my-3 mx-auto bg-gray-50 transition-all border border-gray-200 rounded text-neutral text-sm absolute top-2 left-2 right-2 shadow-lg transform scale-0;
  animation-duration: 1.5s;
  animation-name: fadeIn;
  animation-direction: alternate;
  animation-iteration-count: 2;
}

@keyframes fadeIn {
  from {
    transform: scaleY(0);
  }

  10% {
    transform: scaleY(1);
  }
  100% {
    transform: scaleY(1);
  }
}

.alert.error {
  @apply border-red-500 bg-red-50 text-red-800;
}

.alert.success {
  @apply border-green-500 bg-green-50 text-green-800;
}

.alert.loading {
  @apply border-yellow-500 bg-yellow-50 text-yellow-900;
}
