.btn {
  @apply py-2 px-4 rounded-lg cursor-pointer transition-all bg-primary text-neutral-dark font-bold text-lg;
}
.btn:hover {
  background-color: #9fff40;
}

.btn.block {
  @apply w-full mt-2 mb-1 py-2 rounded text-sm uppercase font-semibold;
}

.btn.icon {
  @apply p-0 pr-1 bg-transparent;
}

.btn-sm {
  @apply py-1 px-3 text-sm;
  transform: translateY(-3px);
}

.btn .fas {
  @apply pr-1;
}

.btn-outline {
  @apply border bg-transparent text-gray-700;
}

.btn.error {
  @apply text-red-700 border-red-500;
}

.btn.error:hover {
  @apply text-white bg-red-500;
}

.btn-link {
  @apply m-0 p-0 underline mt-3;
  text-decoration-thickness: 0.125rem;
  text-underline-offset: 1.5px;
  transition: all 0.2s;
}

.btn-link.light {
  @apply transform hover:scale-105;
  color: rgba(255, 255, 255, 0.8);
  text-decoration-color: rgba(255, 255, 255, 0.2);
}
.btn-link.light:hover {
  color: white;
  text-decoration-color: rgba(255, 255, 255, 0.8);
}
