.modal-background {
  display: none; /* Hidden by default */
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed !important;
  top: 0 !important;
  left: 0 !important;
  bottom: 0 !important;
  right: 0 !important;
  z-index: 90 !important;
  max-width: none !important;
  animation-name: animatemodal;
  animation-duration: 0.3s;
}

.modal {
  background-color: #fff;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 95%;
  max-width: 400px;
  padding: 1rem;
  border-radius: 0.25rem;
  display: flex;
  flex-direction: column;
  z-index: 100;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  animation-name: animatemodal;
  animation-duration: 0.3s;
}

#close-btn {
  position: absolute;
  top: 0;
  right: 0.5rem;
  color: #999;
  font-size: 1.5rem;
}

#close-btn:hover {
  cursor: pointer;
  color: #ff0000;
}

/* animation part */
@keyframes animatemodal {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* animation part end */
