body {
}

p {
  @apply leading-6;
}

p strong {
  @apply text-neutral;
}

.rg-header {
  @apply pt-0 pb-5 px-9 relative z-30;
  overflow: visible;
  background: radial-gradient(#0c597b, #0c4760);
}

.rg-header .container {
  @apply flex flex-col justify-center items-center lg:flex-row lg:justify-between lg:max-w-screen-lg mx-auto;
}

.rg-logo {
  @apply lg:mb-3 pt-8;
}

.rg-nav {
  @apply flex w-full justify-center lg:w-1/3;
}

.rg-decorations {
  @apply absolute z-0;
  content: '';
  background: transparent;
  left: 0;
  right: 0;
  bottom: -2px;
  height: 1rem;
}

.rg-decorations:after {
  background: var(--color-secondary);
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 1rem;
  clip-path: polygon(0 0, 100% 85%, 100% 100%, 0 45%);
}

.inner-dec {
  background: var(--color-primary);
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 1rem;
  clip-path: polygon(0 45%, 100% 85%, 100% 100%, 0 95%);
}

.rg-footer {
  @apply py-4 text-center text-white text-opacity-50 text-sm   bg-secondary relative;
}

.rg-footer a {
  @apply text-opacity-50 text-white;
  text-decoration-line: underline;
  text-decoration-style: dotted;
  text-decoration-color: rgba(255, 255, 255, 0.2);
}
.rg-footer a:hover {
  color: var(--color-primary);
}

.rg-footer::before {
  @apply h-2 bg-primary absolute inset-0 z-10;
  content: '';
  top: -0.5rem;
  clip-path: polygon(0 75%, 100% 0, 100% 100%, 0% 100%);
}

.btn-signOut {
  @apply m-0 mt-3 py-1 px-2 bg-transparent text-white text-sm font-normal border rounded hover:bg-neutral-dark hover:border-neutral-fifty lg:mt-4 md:text-base md:py-1.5 md:px-4;
  border-color: rgba(255, 255, 255, 0.3);
}

.btn-signOut .fas {
  @apply text-primary pr-1 md:pr-2;
}

.rg-main h2 {
  @apply text-neutral text-2xl font-bold text-center;
}

.rg-main h3 {
  @apply text-neutral text-xl font-bold text-center;
}

.rg-main h4 {
  @apply text-neutral text-lg font-bold text-center;
}

.rg-main p {
  @apply text-neutral-dark py-2 px-1 text-base text-center mb-2;
}

.rg-new-user {
  @apply p-5 pb-5 bg-neutral-light text-center text-base;
}

.rg-main {
  @apply lg:flex lg:w-11/12 lg:max-w-screen-lg lg:justify-center lg:mx-auto;
}
