.alert {
  padding: 1rem;
  margin: 1rem auto;
  border: 1px solid #aaa;
  background-color: #eee;
}

.alert.error {
  border-color: #ef5350;
  background-color: #ffebee;
}

.alert.success {
  border-color: #4caf50;
  background-color: #e8f5e9;
}

.alert.loading {
  border-color: #ffca28;
  background-color: #fff8e1;
}
