/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-accent: 'Lato';
  --font-main: 'Open Sans';
}

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1,
h2,
h3 {
  margin: 0;
  padding: 0;
  font-family: var(--font-accent);
  font-weight: 900;
}

h1 {
  font-size: 1.7rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.3rem;
}

header {
  background: #eee;
  padding: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-size: 1.7rem;
  line-height: 1;
  font-weight: 900;
}

header nav a {
  padding: 0.5rem;
  text-decoration: none;
  color: #444;
}

main {
  padding: 1.5rem;
}

footer {
  background: #eee;
  padding: 2rem;
  text-align: center;
}

fieldset {
  border: 0;
  padding: 0;
  margin: 0;
  margin-bottom: 0.5rem;
}

.container {
  margin: 1rem auto;
  width: 95%;
  max-width: 980px;
}

/* .btn {
  background: none;
  padding: 0.25rem;
  border: 0;
  border-radius: 0.25rem;
  margin: 0.1rem;
  cursor: pointer;
}

.btn.icon {
  font-size: 1.25rem;
  min-width: 1.5rem;
  min-height: 1.5rem;
}

.btn.btn-form {
  background: #ccc;
  padding: 0.5rem 1rem;
  font-size: 1.1rem;
}

.btn.btn-sm {
  font-size: 0.9rem;
  padding: 0.35rem 0.5rem;
} */

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex.flex-start {
  justify-content: flex-start;
}

.draggable-container,
.list {
  padding: 1rem;
  margin-bottom: 1rem;
  background: #eee;
}

.draggable,
.list li {
  padding: 0.25rem 0.5rem;
  background: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 0.25rem;
}

.draggable:not(:last-child),
.list li:not(:last-child) {
  margin-bottom: 0.5rem;
}

.draggable > span {
}

.draggable .btn {
  color: #ccc;
  transition: color 0.2s;
}

.draggable .btn:hover {
  color: #444;
}

.btn.inline {
}

.is-invalid input {
  border: 1px solid red;
}
.is-invalid label {
  color: red;
}
.is-invalid .invalid-text {
  color: red;
  font-style: italic;
  display: block;
}

.edit-text {
  display: inline-block;
  width: 50%;
  min-width: 150px;
  padding: 0.25rem;
  transition: all 0.2s;
}
.edit-text:hover {
  background-color: #eee;
}
